/* Navbar */
.navbar-brand img {
    width: 180px;
}

.navbar .container {
    padding: 10px 10px;
}

.navbar .navbar-nav {
    padding: 0px 20px;
}

.dropdown:hover .dropdown-menu {
    display: inline-block;
}

.navbar .btn {
    background-color: #4DB7FE;
    border: none;
}

.nav-link:hover,
ul li a:hover {
    color: #4DB7FE !important;
}

.nav-link {
    margin: 0px 10px;
}

.navbar .ms-auto {
    margin-right: 40px;
}

.navbar .navbar-brand {
    margin-left: 60px;
}

/* Akhir Navbar */

/* Jumbotron */
#jumbotronku {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#jumbotronku:after {
    content: "";
    width: 100%;
    height: 100vh;
    background: #007eff;
    opacity: 0.7;
    position: absolute;
    /* top: 0; */
}

#vidio {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
}

#bg-info {
    z-index: 99;
    color: #fff;
    position: relative;
    text-align: center;
}

#bg-info button {
    background-color: #04436d;
    border: none;
    width: 300px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
}

h1 {
    /* width: 700px; */
    /* font-family: 'Fjalla One', sans-serif; */
    /* font-family: 'Fredoka One', cursive; */
    /* font-family: 'Spidol Permanen', kursif; */
    font-size: 50px;
    line-height: 56px;
    user-select: none;
}

/* Akhir Jumbotron */